
/* Basic */

html, body { 
    height:100%;
}

/* Sections */

#home {
  background: url("https://drscdn.500px.org/photo/58220236/q%3D80_m%3D1500/4f9a1524df1ed7209bde1478e91ad47d") no-repeat center fixed;
  background-size: cover;
  color: white;
  text-align: center;
  min-height: 100%;
  padding-top: 50px;
}

#about {
  background-color: white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

#portfolio {
  background: url("https://drscdn.500px.org/photo/58220236/q%3D80_m%3D1500/4f9a1524df1ed7209bde1478e91ad47d") no-repeat center fixed;
  background-size: cover;
  color: white;
  text-align: left;
}

#contact {
  background-color: white;
  height: 750px;
  text-align: center;
}

/* Navbar */

.navbar {
  margin-bottom: 0px;
}

/* Social Media Bar */

#ul-style {
  list-style-type: none;
}

.li-style {
  display: inline;
}

.icon-info {
  font-size: 20px;
  padding-right: 5px;
  padding-top: 15px;
}

/* Texts */

#about-paragraph {
    padding-top: 10px;
}

/* Portfolio */

.row .thumbnail {
    border-color: #72504F;
}

.row:hover .thumbnail:hover {
  border-color: #72504F;
}

.thumb {
  margin-bottom: 15px;
}
