
/* Basic */

html, body { 
    height:100%;
}

/* Sections */

#home {
  background: url("https://drscdn.500px.org/photo/58220236/q%3D80_m%3D1500/4f9a1524df1ed7209bde1478e91ad47d") no-repeat center fixed;
  background-size: cover;
  color: white;
  text-align: center;
  min-height: 100%;
  padding-top: 50px;
}

#about {
  background-color: white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

#portfolio {
  background: url("https://drscdn.500px.org/photo/58220236/q%3D80_m%3D1500/4f9a1524df1ed7209bde1478e91ad47d") no-repeat center fixed;
  background-size: cover;
  color: white;
  text-align: left;
}

#contact {
  background-color: white;
  height: 750px;
  text-align: center;
}

/* Navbar */

.navbar {
  margin-bottom: 0px;
}

.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
.navbar-default .navbar-nav > li > a {
    color: #777777;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #E7E7E7;
    color: #555555;
}





/* Social Media Bar */

#ul-style {
  list-style-type: none;
}

.li-style {
  display: inline;
}

.icon-info {
  font-size: 20px;
  padding-right: 5px;
  padding-top: 15px;
  color: #777777;
}


/* Portfolio */

.row .thumbnail {
    border: 0 none;
    box-shadow: none;
}

.thumb {
  margin-bottom: 15px;
}

/* Texts */

#about-paragraph {
    padding-top: 10px;
}


/* H1 & H2 */

.section.center-h2 {
    font-family: "Noticia Text", serif;
}

.section-left-h2 {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 5px;
    font-family: "Noticia Text", serif;
}

h1 {
    font-family: "Noticia Text", serif;
    font-size: 30px;
}
